.header {
    display: flex;
    height: 40px;
    background-color: black;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
  }
  
  .centerItems {
    display: flex;
    gap: 15px;
    color: aliceblue;
    align-items: center;
  }
  
  .cart {
    background-color: #ff9900;
    color: white;
    border-radius: 5px;
    justify-content: flex-end;
  }
  .genre {
    width: 100%;
    text-align: center;
    background-color: gray;
    color: azure;
    font-size: 80px;
    height: 150px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .logout {
    font-size: 20px;
    display: flex;
  }
  .signup {
    text-decoration: none;
    padding: 5px;
    background-color: gray;
    border: none;
    color: rgb(83, 4, 65);
    font-size: 20px;
    cursor: pointer;
  }
  .link {
    text-decoration: none;
    color: white;
  }
  .link:hover{
    color: aqua;
    font-weight: bolder;
  }