.product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.title {
    text-align: center;
}
.cart {
    display: flex;
    justify-content: space-between;
}
.cart button{
  margin-right: 100px;
}
.cart p{
  margin-left: 100px;
}

.imageContainer {
    position: relative;
    overflow: hidden;
    margin: 0px 100px 0px 100px;
  }
  
  .image {
    max-width: 100%;
    height: auto;
    transition: transform 0.9s ease-in-out; 
  }
  
  .image:hover {
    transform: scale(1.5); 
  }
  .product button {
    border: none;
    background-color: white;
    cursor: pointer;
  }